.img_list {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.img_upload_box {
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 17px;
  border-style: solid;
  border-color: #11b7e4;
}

.border {
  width: 100px;
  height: 100px;
  float: left;
  margin-left: 17px;
}

.img_upload {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.img_upload_space {
  width: 15%;
  float: left;
  margin-left: 5px;
  margin-right: 32px;
  margin-bottom: 20px;
}

.img_space {
  width: 15%;
  float: left;
  margin-left: 17px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.img_btn {
  margin-bottom: auto;
  background-color: #11b7e4;
}
